extends layout
block content
  each article in pagination.files
    article.post
      header
        time(datetime=article.date)= moment(article.date).format('MMMM D, YYYY')
        h2
          a(href='/' + article.path)= article.title

      section
        p!= article.less
      footer
        nav
          a.btn(href='/' + article.path)
            | Read More/Comment
            i.fa.fa-arrow-right
  nav.pagination
    if pagination.next
      a.btn.pull-right(href='/' + pagination.next.path.replace(/index.html$/, ''))
        | Older
        i.fa.fa-chevron-circle-right
    if pagination.previous
      a.btn.pull-left(href='/' + pagination.previous.path.replace(/index.html$/, ''))
        i.fa.fa-chevron-circle-left
        | Newer
