extends layout
block content
  each article in collections.articles
    article.post
      header
        time(datetime=article.date)= moment(article.date).format('MMMM D, YYYY')
        h2
          a(href='/' + article.path)= article.title

      section
        p!= article.snippet
