@charset 'utf-8';
@import 'reset';

$spacing-unit:     30px;
$link-color:       #aa3939;
$link-color-hover: #d46a6a;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

/**
 * Clearfix
 */
%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

html {
	line-height: 1.6em;
	font-family: Oxygen, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 100%;
	color: #333333;
}

body {
}

@media screen and (min-width: 1200px) {
	.container {
		max-width: 890px;
	}
}

pre {
	background-color: #f5f5f5;
	border: 1px solid #cccccc;
	border-radius: 4px;
	padding: 10px;
	overflow: auto;
	word-wrap: normal;
	white-space: pre;
}

code {
	font-family: 'Source Code Pro', monospace, serif;
	font-size: .8em;
}

.container {
	margin: 0 auto;
	padding: 0 1.5em;
	max-width: 50em;
}

a {
	color: $link-color;
	text-decoration: none;
	&:hover {
		color: $link-color-hover;
	}
}

body > header {
	background-color: #226666;
	color: $grey-color;
	border-bottom: 2px inset $grey-color-dark;
	section.container {
		padding: .5em 0;
	}
	h1 {
		font-family: 'Helvetica Neue', Helvetica, sans-serif;
		margin: .5em 0;
		a {
			color: $grey-color-light;
		}
	}
	span {
		font-family: 'Inconsolata', monospace, serif;
		text-shadow: 1px 1px 0px #000000;
	}
}


article.post {
	border-bottom: 1px solid $grey-color-light;
	margin-bottom: 30px;
	header {
		margin: 10px 0 20px 0;

		h2 {
			margin: 5px 0 0 0;
			font-family: Oswald, 'Helvetica Neue', Georgia, 'Times New Roman', Times, serif;
		}
		time {
			color: $grey-color;
		}
	}
}

footer.site-footer {
	border-top: 1px solid $grey-color-light;
	padding: calc(#{$spacing-unit} / 2) 0;
	background-color: $grey-color-dark;

	p.text {
		margin: 0;
		span {
			color: $grey-color;
			line-height: 3em;
		}
		a {
			float: right;
		}
	}
}
